{
    "baseUrl" : "localhost:8000/api",
    "entrypoint" : "dashboard",
    "primaryColor" : "green",
    "secondaryColor" : "orange",
    "colorful" : false,
    "authType" : "Bearer",
    "mustAuth" :true,
    "loginEndpoint" : "/login",
    "loginMethod" : "POST",
    "tokenKey": "token",
    "appName" : "PHP Adminer",
    "lang": "en",
    "icon":"",
    "dateFormat" : "d/m/Y",
    "theme":"light",
    "debug":false
}
