{
    "base_url" : "http://chrisserver.me:8000/api",
    "entrypoint" : "dashboard",
    "primary_color" : "blue",
    "colorful" : true,
    "auth_type" : "Bearer",
    "must_auth" :true,
    "login_endpoint" : "/login",
    "login_method" : "GET",
    "app_name" : "Adminer",
    "lang": "en",
    "icon":"",
    "date_format" : "d/m/Y",
    "debug":true
}
